@import "tailwindcss";

@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/700.css";
:root {
--primary: #0c1e21;
  --accent: #1e8a8a;
  --whitebg: #f6f4ee;
  --textDark: #1E1B4B;
  --card: #FFFFFF;
  --border: #1e8a8a;
--golden:#a8712a;
--skin:#faf5e5;
--text_skin:#DCA54A;
}
@font-face {
  font-family: 'Atkinson Hyperlegible Mono';
  src: url('/fonts/AtkinsonHyperlegible-Mono.woff2') format('woff2'),
       url('/fonts/AtkinsonHyperlegible-Mono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Mono';
  src: url('/fonts/AtkinsonHyperlegible-Mono-Bold.woff2') format('woff2'),
       url('/fonts/AtkinsonHyperlegible-Mono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* styles/globals.css */

@font-face {
  font-family: 'Tharoma';
  src: url('/fonts/Tharoma-Regular.woff2') format('woff2'),
       url('/fonts/Tharoma-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tharoma';
  src: url('/fonts/Tharoma-Bold.woff2') format('woff2'),
       url('/fonts/Tharoma-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
 :root {
    --background: #171717;
    --foreground: #e9e7e7;
  }
}


.bg-grid-pattern {
  background-color: var(--primary); /* Base background */
  background-image:
    linear-gradient(rgba(30,138,138,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(30,138,138,0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}


@keyframes slideLR {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRL {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-lr {
  animation: slideLR 0.8s ease-out forwards;
}

.animate-slide-rl {
  animation: slideRL 0.8s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes stepIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-step {
  animation: stepIn 0.8s ease-out forwards;
}
